@import './utils/colors.scss';

.dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 18px;
    
    &:hover{
        cursor: pointer;
    }

    &__text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        margin: 0;
        background-color: $main-color;
        padding: 15px;
        color: white;
        border-radius: 10px;
        z-index: 2;

        &--chevronUp{
            transform: rotate(0deg);
            transition: transform 0.5s;
        }

        &--chevronDown{
            transform: rotate(180deg);
            transition: transform 0.5s;
        }
    }
    
    &__dropdown{
        background-color: $backgroundLight;
        color: $main-color;
        margin: 0;
        margin-top: -10px;
        padding: 30px;
        border-radius: 0 0 10px 10px;
        z-index: 1;

        &--list{
            list-style: none;
            line-height: 25px;
        }
    }
}

.dropdown-container__about{
    gap: 30px;
    align-items: center;
    width: 100%;
}

.logement-dropdown-size{
    width: 45%;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.about-dropdown-size{
    width: 80%;
    
    @media (max-width: 1024px) {
        width: 100%;
    }
}