@import './utils/colors.scss';

.dropdown-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 45%;
    font-size: 18px;

    &__text{
        font-weight: 500;
        margin: 0;
        background-color: $main-color;
        padding: 15px;
        color: white;
        border-radius: 10px;
    }

    &__dropdown{
        background-color: $backgroundLight;
        //margin negative pour relier
        color: $main-color;
        margin: 0;
        padding: 30px;
        border-radius: 0 0 10px 10px;

        &--list{
            list-style: none;
            line-height: 25px;
        }
    }
}

.dropdown-container__about{
    gap: 30px;
    align-items: center;
    width: 100%;
}