.footer-container{
    background-color: black;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    

    &__logo{
        margin: 50px;
    }

    &__text{
        color: white;
        font-size: 24px;
        margin: 0;
    }

    @media (max-width: 767px) {
        &__text{
            font-size: 12px;
            width: 100px;
            margin: 0 auto;
        }

        &__logo{
            margin: 10px;
        }
      }
}