@import './utils/colors.scss';

.rating-container{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;

    &__star{
        width: 25px;
        height: 25px;

        &--note{
            color: $main-color;
        }

        &--rest{
            color: #E3E3E3;
        }
    }
}