@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  //test
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 100px; 
  box-sizing: border-box; 

  @media (max-width: 1224px) {
    padding: 0 50px; 
  }

  @media (max-width: 767px) {
    padding: 0 25px; 
  }
}


//tablette 1024px
//mobile 767px